.dashboard-container {
    height: 100%;
}

.sub-title {
    font-size: 12px;
}

.table-container {
    height: 100%;
}

@media screen and (max-width: 768px) {
    .filter-search {
        display: none;
    }
}